*{
  box-sizing: border-box;
  text-align: center;
}

/*I wanted to start broad in the beginning and then work on specific details after*/

header{background-color: #4F6D7A;}
/*I wanted the header background color to be different from the rest of the page*/

img{
  width: 300px;
  border-radius: 10%;
  margin-top: 10px;
}

h1{
  font-family: Lato, Serif;
  font-size: 72px;
  color: #2C0E37;
}

/*Lato is visually pleasing to me, but I need to explore more font options.*/

h3{
  font-family: Lato, Serif;
  font-size: 24px;
  padding-bottom: 30px;
}

nav {
  font-family: Georgia, sans-serif;}

body{background-color: #E3DFFF;}

h2{
  font-family: Lato, Serif;
  font-size: 32px;
}

.align-center{text-align: center;}
/*Created this CSS class because the specific line worked better centered.*/

p{
  font-family: Georgia, sans-serif;
  font-size: 18px;
  text-align: justify;
  padding: 50px;
  line-height: 50px;
}

/*
Something about the "About" paragraph alignment doesn't sit well with me. I am not entirely sure what I should do differently here.
*/

ul{
  font-family: Georgia, sans-serif;
  font-size: 18px;
  text-align: center;
  list-style-position: inside;
  line-height: 50px
}

ol{
  font-family: Georgia, sans-serif;
  font-size: 18px;
  list-style-position: inside;
}

hr{height: 10px;}
/*I would like to explore border styles and editing more in future*/

a:link{color: blue;}
a:visited{color: #7B68EE;}
a:hover{color: yellow;}
a:active{color: red;}
/*Color scheme may be a bit unusual, but I feel the contrast is better*/